<div class="content">
  <div class="cards">
    <% @sosies.each do |sosie| %>
        <%= render partial: "card", locals: {sosie: sosie} %>
    <% end %>
  </div>

  <div id="map"
    style="padding: 16px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
