<div class="container">
  <div class="row">
    <% @sosies.each do |sosie| %>
      <div class="col-md-3">
        <%= render partial: "card", locals: {sosie: sosie} %>
      </div>
    <% end %>
  </div>
</div>
