<div class="container">
  <div class="top-card">
    <h1><%= @sosie.name %></h1>
  </div>

  <br>
  <div class="sosie-photo">
    <%# <%= cl_image_tag @sosie.photo, width: 400, height: 300, crop: :fill%>

  </div>

  <h3>Description:
  <br>"<strong><%= @sosie.description %>"</strong></h3>
  <br>
  <p>Address:
  <br><%= @sosie.address %></p>
  <br>
  <button class="w-25 btn btn-lg btn-primary float-right rounded">
    Rent
  </button>
</div>