
footer{
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
  padding: 10px;
}

.bg-white{
  background-color: $light-gray;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
