footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  position: sticky;
}

.bg-white {
  background-color: $light-gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
}
